:root {
  --clr-bg-report: hsl(246, 80%, 60%);

  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-self-care: hsl(43, 84%, 65%);

  --clr-bg: hsl(226, 43%, 10%);
  --clr-bg-card: hsl(235, 46%, 20%);
  --clr-bg-card-hover: hsl(235, 45%, 61%);
  --clr-light: hsl(236, 100%, 87%);

  --font-size: 18px; /* (card titles e.g. Work, Play) */

  --font-family: 'Rubik', Arial, sans-serif;;
  /* AVAILABLE FONT WEIGHTS
      - 300
      - 400
      - 500 
  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 10px;
  padding: 3rem 1.5rem;
  background-color: var(--clr-bg);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 450px;
  margin: auto;
  flex: 0 0 100%;
}

header,
header div, 
article,
article div {
  border-radius: 12.5px;
}

header {
  background-color: var(--clr-bg-card);
}

header div {
  background-color: var(--clr-bg-report);
  padding: 2rem;
  display: flex;
  align-items: center;
}

header img {
  width: 4.5rem;
  height: 4.5rem;
  border: 4px solid white;
  border-radius: 10rem;
  margin-right: 1rem;
}

header h1 {
  font-weight: 300;
  font-size: 1.5rem;
}

header span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-light);
  display: block;
  margin-bottom: 0.1rem;
}

header {
  padding-bottom: 1.5rem;
}

header ul {
  list-style-type: none;
  margin: 1.5rem 1rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

header ul a {
  text-decoration: none;
  color: var(--clr-bg-card-hover);
  display: inline-block;
  padding: 0px 10px;
  transition: color 100ms;
}

header ul a.selected {
  color: white;
}

header ul a:hover {
  color: white;
}

article {
  padding-top: 2rem;
  margin: 2rem 0;
  background-repeat: no-repeat;
  background-position: right 10px top -10px;
  background-size: 20%;
  background-color: var(--clr-bg-category, pink);
  background-image: var(--image-category, none);
}

article > div {
  padding: 1.5rem;
  background-color: var(--clr-bg-card);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  top: 2px;
  transition: background-color 100ms;
}

.menu:hover, 
article > div:hover {
  background-color: hsl(235, 46%, 30%);
}

article h2 {
  flex: 60%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

article p {
  flex-basis: 50%;
  text-align: right;
  font-size: 0.9rem;
  color: var(--clr-light);
}

article .current {
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
  color: white;
}

article svg {
  fill: #BBC0FF;
  transition: fill 100ms;
}

article .svg {
  padding: 5px 10px;
  position: relative;
  left: 10px;
}

article .svg:hover svg {
  fill: #FFFFFF;
}

.menu {
  padding: 1.5rem;
  background-color: var(--clr-bg-card);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  transition: background-color 100ms;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  animation: add-menu 100ms forwards;
  font-size: 20px;
}

.menu h2 {
  flex: 100%;
  align-self: flex-start;
}

.menu .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
}

.menu button {
  border: 0;
  background-color: hsl(235, 35%, 45%);
  border-radius: 100px;
  text-align: center;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 15px;
  margin-right: 10px;
  transition: background-color 100ms;
}

.menu button:hover {
  background-color: hsl(235, 40%, 55%);
}

.menu .value {
  margin-right: 10px;
  width: 2ch;
  text-align: center;
}

.menu .confirm-button {
  margin-right: 0;
  margin-left: auto;
}

@media screen and (min-width: 700px) {
  .main-container {
    max-width: 800px;
  }

  main {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  article {
    margin: 0;
  }
}

@media screen and (min-width: 1100px) {
  .main-container {
    display: grid;
    grid-template-columns: 23% 1fr;
    max-width: 1110px;
    gap: 30px;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    gap: 30px;
  }
  
  header div {
    flex-direction: column;
    align-items: flex-start;
  }

  header ul {
    flex-direction: column;
    font-size: 1.15rem;
  }

  header ul a {
    padding: 10px 10px;
  }

  header img {
    margin-bottom: 2.5rem;
    width: 85px;
    height: 85px;
  }

  header h1 {
    font-size: 2.5rem;
    margin-bottom: 45px;
  }

  article {
    padding-top: 46px;
    background-size: 30%;
    background-position: right 15px top -5px;
  }

  article h2 {
    margin-bottom: 0;
  }

  article > div {
    padding: 2rem;
  }

  article p {
    flex-basis: 100%;
    text-align: left;
  }

  article .current {
    font-size: 3.5rem;
    margin: 1rem 0;
  }

  .menu {
    padding: 2rem;
  }

  .menu .close {
    top: 1.5rem;
    right: 1.5rem;
  }
}

.work {
  --clr-bg-category: var(--clr-work);
  --image-category: url("images/icon-work.svg");
}

.play {
  --clr-bg-category: var(--clr-play);
  --image-category: url("images/icon-play.svg");
}

.study {
  --clr-bg-category: var(--clr-study);
  --image-category: url("images/icon-study.svg");
}

.exercise {
  --clr-bg-category: var(--clr-exercise);
  --image-category: url("images/icon-exercise.svg");
}

.social {
  --clr-bg-category: var(--clr-social);
  --image-category: url("images/icon-social.svg");
}

.self-care {
  --clr-bg-category: var(--clr-self-care);
  --image-category: url("images/icon-self-care.svg");
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1.5rem 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--clr-bg-card-hover)
}

.attribution a {
  color: #aaa;
  font-weight: 500;
}

@keyframes add-menu {
    0% { height: 0%; }
  100% { height: 100%; }
}